{% extends 'easyadmin/base.html' %}
{% load tags %}
{%  block main %}
    <h1>首页</h1>
    {% for app_name,app_tables in table_list.items %}
        <div class="panel panel-info">
            <div class="panel-heading"><h1 class="panel-title">{{ app_name }}</h1></div>
             <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr><th>TB_NAME</th></tr>
                    </thead>
                     <tbody>
                        {% for table_name,admin  in app_tables.items %}
                            <tr><td><a href={% url "table_objs" app_name table_name %}>{%  render_table_name admin %}</a></td><td>ADD<td>DEL</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        </div>

    {% endfor %}

{% endblock %}